{% extends "admin_layout.html" %}

{% block content %}
<h1>{{ title }}</h1>
{% if data %}
{% for row in data %}
<form class="form-horizontal" method="post" action="">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="name">Client Name</label>
    <div class="col-sm-9">
      <input id="name" name="name" type="text" placeholder="" class="form-control" required="" value="{{ row.name }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="token_id">Token ID</label>
    <div class="col-sm-9">
      <input id="token_id" name="token_id" type="text" placeholder="" class="form-control" required="" disabled value="{{ row.token_id }}">
      <p class="help-block">A unique identifier for this client - Integer</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="token_id">Token</label>
    <div class="col-sm-9">
      <input id="token" name="token" type="text" placeholder="" class="form-control" required="" disabled value="{{ row.token }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="authnet_api_login_id">Authnet API Login ID</label>
    <div class="col-sm-9">
      <input id="authnet_api_login_id" name="authnet_api_login_id" type="text" placeholder="" class="form-control" required="" value="{{ row.authnet_api_login_id }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="autnet_transaction_key">Authnet Transaction Key</label>
    <div class="col-sm-9">
      <input id="authnet_transaction_key" name="authnet_transaction_key" type="text" placeholder="" class="form-control" required="" value="{{ row.authnet_transaction_key }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="autnet_transaction_key">Status</label>
    <div class="col-sm-9">
      <input id="status" name="status" type="text" placeholder="" class="form-control" required="" value="{{ row.status }}">
      <p class="help-block">0 = inactive, 1 = active</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="submit"></label>
    <div class="col-sm-9">
      <button id="submit" name="submit" class="btn btn-primary">Update Client</button>
    </div>
  </div>
</form>
{% endfor %}
{% else %}
<p>No records found</p>
{% endif %}
{% endblock content %}
